<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sareweb.android.txotx"
    android:installLocation="preferExternal"
    android:versionCode="6"
    android:versionName="v0.6" >

    <permission
        android:name="net.sareweb.android.txotx.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <permission
        android:name="net.sareweb.android.txotx.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="net.sareweb.android.txotx.permission.MAPS_RECEIVE" />
    <uses-permission android:name="net.sareweb.android.txotx.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity android:name=".activity.LogInActivity_" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TxotxActivity_" />
        <activity android:name=".activity.SagardotegiakActivity_" />
        <activity
            android:name=".activity.SagardotegiMapActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.SagardotegiDetailActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".activity.SagardoEgunDetailActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        
        <activity android:name=".activity.SagardoEgunakActivity_" />
        
        <activity android:name=".activity.DashboardActivity_" />
        <activity android:name=".activity.SailkapenaActivity_" />
        <activity android:name=".activity.OharraActivity_" />
        <activity android:name=".activity.SettingsActivity_" />
        <activity android:name=".activity.AboutActivity_" />
        <activity android:name=".activity.NoConnActivity_" />
        
        <receiver
            android:name=".receiver.TxotxReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="net.sareweb.android.txotx" />
            </intent-filter>
        </receiver>
        <service android:name=".service.TxotxIntentService_" />

        <!--
        Debug 
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB_DIIBvjbsncei9CcP3uUBd1AxFwmL4WQ" />
        -->


        <!-- Release -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAF5uG5kAJCsuUXb25O9_QOyADMEwMkyDk" />
             
    </application>

</manifest>